/* ELEMENT SELECTOR */
/* Applies style to every element of specified type (Every h3 in this case) */ 
h3 {
  color: red;
}

/* CLASS SELECTOR */
/* Applies style to every element with the specified class */
.hobbit {
  border-top: 5px solid blue;
}
.lotr {
  border-top: 5px solid green;
}

/* ID SELECTOR */
/* Applies style to the single element with the specified ID (IDs are meant to only be used on a single element) */
#towers {
  border-left: 5px solid brown;
}

/* NOT SELECTOR */
/* Style is NOT applied to selector inside of the not parentheses */
.hobbit:not(#armies) {
  text-transform: uppercase;
}

/* STAR SELECTOR */
/* Sets style for every element in the HTML file */
* {
  border-right: 5px solid yellow;
}

/* MULTIPLE SELECTORS */
/* Sets the style for multiple selectors at once */
h1, .hobbit {
  background-color: tomato;
}

/* ATTRIBUTE */
/* Sets style for selectors that have a certain attribute value */
a[target="_blank"] {
  border-top: 5px dashed red;
}

/* DESCENDANT SELECTOR */
/* Sets style for selector (last specified selector) nested in another selector(s) (1st specified). Even if they are nested more than one level */
div h2 {
  color: green;
}
ol ul .lotr {
  border-bottom: 5px dotted purple;
}

/* SPECIFIC ELEMENT WITH A CLASS */
/* Sets style for only a specific element that has a class */
h3.lotr {
  border-bottom: 5px dashed blue;
}

/* GENERAL SIBLING SELECTOR */
/* Set style for all following elements (ol in this case) that are siblings of the specified element (h3 in this case) */
h3 ~ ol {
  border-left: 5px dashed burlywood;
}

/* ADJACENT SIBLING SELECTOR */
/* Same as general sibling selector. However, it will only affect the element immediately following the specified element */
h3 + ol {
  border-bottom: 5px dashed gold;
}

/* NTH OF TYPE */
/* Styles every element that is a specified nth child (Number your provide) of a specified type (Selector you provide) of it's parent */
li:nth-of-type(2) {
  color: blue;
}
div:nth-of-type(1) {
  border: 5px solid blue;
}

/* NTH CHILD */
/* Styles all elements that are the nth child (Number you provide) of the parent. Regardless of type. */
ul:nth-child(2) {
  background-color: yellow;
}

/* CHILD SELECTOR */
/* Styles all elements (2nd selector you provide) that are direct children of specified selector (1st selector you provide) */
div > h2 {
  border-bottom: 5px dashed green;
}

/* PSEUDO CLASSES */
/* When element is hovered over with cursor the style is applied */
li:hover {
  background-color: black;
}

         ;


         