/* FONT FAMILY */
/* The Font Family property/style sets the font for text */
/* The fonts that come after the Impact font are there in case the webpage is pulled up in a browser that does NOT support the Impact font. Also, '' or "" are necessary for fonts with more than one word that are not connect with a hyphen "-" */
h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* FONT SIZE */
/* Using px (pixels) will set the element's text size to a fixed pixel size */
p {
  font-size: 25px;
}

/* em determines the font size based on the font size of the parent element (P element in this case) */
/* Font size will be 100px (25px x 4) */
#span-one {
  font-size: 4em;
}

/* The 2nd paragraph is only 64px because it is basing the font size off of it's parent element (The body element) which is 16px (16px x 4) */
#p-two {
  font-size: 4em;
}

/* Even on an h1 (Largest Heading) using em will set the size based off of the font size of it's parent element (The body element) is 16px */
h1 {
  font-size: 1em;
}

/* This is sets the root font size for all elements in the HTML file (Default root font size is 16px) */
/* This is used a lot at the start of a CSS file so that em can be used to set the size for different elements in the HTML file */
/* Notice this does NOT affect the font size in the 1st paragraph because it has a fixed font size. Therefore it does NOT inherit/base it's font size of off the HTML/Body element  */
html {
  font-size: 10px;
}

/* rem determines the font based on the font size of the root element in the HTML file (AKA The HTML element) */
#span-two {
  font-size: 4rem;
}

/* FONT WEIGHT */
/* Font weight determines the boldness of text */
p {
  font-weight: bold;
  /* Some fonts allow for multiple levels of boldness */
  /* font-weight: bolder; */
  /* Font weight can also be set using numbers. Must use multiples of 100. No unit of measurement is needed. */
  /* font-weight: 500; */
  /* font-weight: 900; */
}

/* FONT STYLE */
/* Determines if text is italic */
p {
  font-style: italic;
}

/* LINE HEIGHT */
/* Determines spacing between lines of text */
p {
  /* No unit of measurement needed */
  line-height: 1.5;
}

/* LETTER SPACING */
/* Determines the spacing between letters */
p {
  letter-spacing: 10px;
}

/* TEXT ALIGN */
/* Determines alignment of text */
h1 {
  text-align: center;
  /* text-align: right; */
}

/* TEXT DECORATION */
/* Adds a decoration to text */
span {
  /* text-decoration: line-through; */
  text-decoration: underline;
}

/* TEXT TRANSFORM */
/* Determines the casing/capitalization of text */
h6 {
  text-transform: uppercase;
}