body {
    font-size: 50px;
}

/* Static Positioning */
/* Static is the default position value */
.parent {
    padding: 5px;
    /* position: static; */
    background-color: #00AAFF;
    width: 70%;
    height: 1000px;
    /* position: absolute; */
  }

  .child-one {
  	/* position: static; */
    background-color: rgb(116, 255, 116);

    /* Relative Position */
    /* With relative, we can shift elements FROM left, right, bottom, and top */
    /* position: relative; */
    /* top: 50px; */
    /* left: 50px; */

    /* Sticky Position */
    /* If we set a child to sticky, it will stick to the top when we start scrolling and become fixed. It remains fixed only while inside its parent element. */
    position: sticky;
    top: 5px;
  }
  
  .child-two {
  	/* position: static; */
    background-color: rgb(248, 117, 117);

    /* Absolute Position */
    /* Completely removes the element from the flow of the document. All other elements ignore the one with the absolute property. */
    /* If we use top, bottom, left, or right, it will arrange the element according to the parent container IF the parent container is also absolute/relative positioned  */
    /* position: absolute; */
    /* top: 15px; */
  }
  
  .child-three {
  	/* position: static; */
    background-color: rgb(255, 116, 232);

    /* Fixed Position */
    /* Fixed according to entire HTML document, it won't follow any parent element even if the parent is set to relative. It will also stay in the same position if we scroll. */
    /* position: fixed; */
    /* bottom: 100px; */
    /* right: 100px; */
  }