/* STAR SELECTOR */
/* Sets the style for every element in the HTML file */
* {
  border-left: 3px solid blueviolet;
}

/* MULTIPLE SELECTORS */
/* Sets the style for multiple selectors at once */
/* NOTE: This is helpful to condense your amount of lines in a CSS file */
h1, h3 {
  background-color: hotpink;
}

/* Same as above */
/* h1 {
  background-color: hotpink;
}
h3 {
  background-color: hotpink;
} */

/* ATTRIBUTE SELECTOR */
/* Set the style for elements that have a certain attribute value */
/* Ex: element[attribute="value"] */
a[href="https://www.rottentomatoes.com/top-tv"] {
  border-top: 4px solid red;
}

/* DESCENDANT SELECTOR */
/* Sets the style for the selector (Last specified selector) nested in another selector (First specified selector(s)). Even if they are nested more than one level. */
div h2 {
  color: red;
}
ol ul li {
  border-right: 6px dotted blue;
}

/* CHILD SELECTOR */
/* Styles all elements (Last selector specified) that are direct children (NOT Grandchildren) of a specified selector (First specified selector(s)) */
/* So in this case only the h2 nested directly in the div is styled */
div > h2 {
  color: blue;
}

/* SPECIFIC ELEMENT WITH A CLASS */
/* Sets the style for a specific element that has a class */
/* Class must be applied to more than one element type for this to be useful */
li.yellow {
  background-color: yellow;
}

/* GENERAL SIBLING SELECTOR */
/* Sets the style for all following elements (ol in this case) that are siblings of the specific element (h3 in this case) */
h3 ~ ol {
  border-bottom: 6px solid green;
}

/* ADJACENT SIBLING SELECTOR */
/* Same as the General Sibling Selector. However, it will only affect the element (ol in this case) immediately following the specified element (h3 in this case). */
h3 + ol {
  border-bottom: 6px solid black;
}

/* NTH OF TYPE */
/* Styles every element that is specified nth child (Number provided) of a specified type (Selector provided) of it's parent (NOT included in the written selector) regardless of the type of the parent element. */
/* Ex: selector:nth-of-type(number) */
/* So in this case every 3rd li is styled including "Apple TV" because it is the 3rd li in the ordered list in the "Other" section */
li:nth-of-type(3) {
  border-bottom: 4px solid greenyellow;
}

/* Nth of type can also be used to apply a style to multiple elements by using odd, even, or a number followed by an "n" which will style all elements that are a multiple of that number (Ex: 3n) */
/* li:nth-of-type(3n) {
  border-bottom: 4px solid greenyellow;
} */
/* li:nth-of-type(even){
  border-bottom: 4px solid blue;
} */

/* NTH-CHILD */
/* Styles all elements (Element provide) that are the nth child (Number provided) of the parent element (NOT included in the written selector) regardless of the type of the parent element. */
/* Ex: selector:nth-child(number) */
/* So in this case the "HBO Max" li is NOT styled because it is the third element in a group of child/sibling elements */
/* NOTE: Even, odd, and using n (Ex: 3n) can also be used with nth-child */
li:nth-child(2) {
  background-color: orange;
}

/* In this case the background color will be applied to any li element that is the first element in a group of child/sibling elements */
/* li:first-child {
  background-color: orange;
} */
/* In this case the background color will be applied to any li element that is the last element in a group of child/sibling elements */
/* li:last-child {
  background-color: orange;
} */

/* PSEUDO CLASSES */
/* When the element is hovered over with the cursor/arrow the style is applied. Also, the style is removed when the cursor/arrow is no longer hovering over the element */
h2:hover {
  background-color: green;
}

/* When the input is clicked (AKA Focused into) the style will be applied. Also, the style s removed when another part of the page is clicked (AKA Focused into) */
input:focus {
  background-color: darkblue;
}

/* PSEUDO ELEMENTS */
h1::first-letter {
  color: greenyellow;
}

/* NOT SELECTOR */
/* Does NOT apply the style to a certain element or elements in a group of selected elements */
/* Ex: selector:not(selector) */
/* In this example the style is applied to all h3 elements except for the h3 with the "yellow" class */
h3:not(.yellow) {
  border-top: 10px solid green;
}