/* Color Name */
h1 {
  color: thistle;
}

/* NOTE: CSS styles can be overridden (The style that comes last in the CSS file will be applied) */
h1 {
  color: blue;
}

/* Hexadecimal Colors */
/* A Hexadecimal number/character goes from zero to the letter F */
/* 0123456789ABCDEF */
/* # + Six Hexadecimal numbers/characters */
/* Example: #25E2F6 */

/* First two positions determine the amount of Red */
/* Second/Middle two positions determine the amount of Green */
/* Third/Last two positions determine the amount of Blue */

/* Hexadecimal Colors work as if they are light not paints */
/* #FFFFFF would be white */
/* #000000 would be black */

/* Examples */
h1 {
  /* This is Green */
  color: #00FF00;
}

h1 {
  /* This is Blue */
  color: #0000FF;
}

h1 {
  /* This is Red */
  color: #FF0000;
}

/* Shorthand way to write a Hexadecimal color (First two positions must match, second two positions must match, & the third two positions must match.) */
h1 {
  /* color: #000000; */
  color: #000;
}

h1 {
  /* color: #1155CC; */
  color: #15C;
}

/* Transparency with Hexadecimal colors */
/* An extra to positions (AKA Numbers/Characters) can be used to determine transparency. The lower the numbers/characters the more transparent the color will be. The higher the numbers/characters the less transparent the color will be. */
h1 {
  /* Fully Transparent (AKA Invisible) */
  color: #dfdf5500;
}

h1 {
  /* NOT Transparent (AKA Fully Opaque) */
  color:#0000ffff;
}

h1 {
  /* Shorthand example using the extra position for transparency */
  color: #00ff;
}

/* RGB (Red, Green, Blue) */
/* RGB has three channels/positions */
/* rgb(#, #, #) */
/* Each channel/position goes from 0 to 255 */
/* Example: rgb(132, 47, 102) */
h1 {
  /* This is blue */
  color: rgb(0, 0, 255);
}

/* RGBA (Red, Green, Blue, Alpha) */
/* Alpha determines the Transparency */
/* Alpha goes 0 to 1 */
/* Example: rgba(226, 250, 1, 0.7) */
h1 {
  /* Setting the Alpha channel/position to 0 will make it fully transparent (AKA Invisible). Setting the Alpha channel/position to 1 will make it fully Opaque (AKA Visible). */
  color: rgba(226, 250, 1, 0.7);
}