div {
  font-size: 50px;
  padding: 20px;
}

.container {
  background-color: grey;
  margin: 20px;
  /* For Absolute positioning of child elements */
  /* position: relative; */
}

#red {
  background-color: red;

  /* Static is the default position property value for all elements */
  /* position: static; */

  /* The Relative position property value allows us to move the element relative to its normal starting position with the top, right, bottom, and left properties. */
  /* position: relative; */
  /* Moves the element down 50px from the top */
  /* top: 50px; */
  /* Moves the element right 50px from the left */
  /* left: 50px; */

  /* The Absolute position property value removes the element from the document but still displays on screen at a specified new position. */
  /* When an element has an Absolute position property it will position itself relative to the first parent/ancestor element with a position value other than static. Must include top, right, bottom, or left for the absolute position location to take effect (NOTE: If no parent/ancestor element with a position value other than static is found, then the element will position itself relative to the browser window/viewport by default.) */
  /* The Absolute position property value will also change an element to an inline element if it is not already. */
  /* position: absolute; */
  /* right: 0; */
  /* bottom: 0; */

  /* The Fixed position property value is like the Absolute in that it completely removes the element from the document. However, unlike Absolute it will always position itself relative to the browser window. Also, fixed will force the element to remain in the same location on screen as you scroll. */
  /* position: fixed; */
  /* right: 100px; */
  /* bottom: 100px; */

  /* The Sticky position property value is like a combination of relative and fixed. When the element hits the top of the screen (Or set breaking point) it becomes a fixed position as you scroll and will stick to the top of the screen (Or set breaking point). Also, an element with a position of Sticky is only fixed positioned while inside of it's parent element. */
  /* position: sticky; */
  /* Example of top of the screen */
  /* top: 0; */
  /* Example of set breaking point */
  /* top: 50px; */
}

#green {
  background-color: green;
}

#blue {
  background-color: blue;
}

#yellow {
  background-color: yellow;
  position: relative;
  top: 20px;
  /* Z-Index determines whether an element will display in front or behind another or other elements (NOTE: The default z-index value for elements is auto (AKA Zero)). The element with the higher z-index will display in front of elements with a lower z-index. */
  /* Z-Index will NOT override a child element displaying in front of a parent element. However, this can be done by setting a negative z-index to the child element. */
  z-index: 2;
}

#purple {
  background-color: purple;
  position: relative;
  bottom: 20px;
  z-index: 1;
}

#orange {
  background-color: orange;
  /* position: sticky; */
  /* top: 0; */
}
