div {
    width: 200px;
    height: 200px;
    background-color: blue;
    color: white;
    margin: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    /* TRANSITIONS */
    /* the "all" value makes all transition stiings apply to all transitioning properties */
    /* transition-property: all; */

    /* determines amount of time the transition takes to complete */
    /* transition-duration: 5s; */

    /* determines the acceleration/deceleration of the transition */
    /* default, same from beginning to end */
    /* transition-timing-function: linear; */
    /* slow at the beginning, fast at the end */
    /* transition-timing-function: ease-in; */
    /* fast at beginning, slow at the end */
    /* transition-timing-function: ease-out; */

    /* Determines if there is a delay between the event, (2s before anything happens) */
    /* transition-delay: 2s; */

    /* Shorthand syntax (but seperated with spaces, not commas) */
    /* transition: property, duration, timing-function, delay */
    transition: all 5s ease-out 2s;
}

#two {
    background-color: blueviolet;
    transition: all 2s ease-in 5s;
}

div:hover {
    width: 600px;
    height: 600px;
    background-color: greenyellow;

    transform: rotate(720deg);
}